
<%= form_for [@album, @selection] do %>
    <% if params[:controller] == 'albums' %>
    <%= select_tag 'photo_list', options_for_select(@photos.collect{ |u| [ u.id, {'data-img-src' => u.picture.url(:thumb)},{'data-delete-link' => album_photo_url(@album, u)},{'data-show-link' => u.picture.url}] }), :multiple => true, id: 'selectImage', class: 'show-html image-picker' %> 
    <% else %>

        <%= select_tag 'photo_list', options_for_select(@photos.collect{ |u| [ u.id, {'data-img-src' => u.picture.url(:thumb)},{'data-delete-link' => shelving_path(@selection.shelvings.find_by(photo_id: u.id))},{'data-show-link' => u.picture.url}] }), :multiple => true, id: 'selectImage', class: 'show-html image-picker' %> 

    <% end %>

    <nav class="navbar navbar-default navbar-fixed-bottom navbar-hide" id="sel-footer">
      <div class="container">

      	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

          <ul class="nav navbar-nav navbar-left"> 
            <div class="row">
              <div class="col-md-2">
                  <button class="btn btn-default navbar-btn" id="open-gallery"><span id="open-gallery-span">Open Gallery</span></button>
              </div>
              <div class="col-md-6">    
                <div class="input-group" id="selection-group">
                          
                          <span class="input-group-addon">
                            <%#= label_tag :download, "Download" %>
                            <%= check_box_tag "download", "yes", checked = false,  class: "checkbox" %>
                          </span>
                          <span>
                          <%= text_field_tag "selection[name]", nil, :placeholder => "Selection Name", class: "form-control", type: "text" %>
                          </span>
                          <span class="input-group-btn">
                          <%= submit_tag ("Create Selection"), class: "btn btn-default" %>
                        </span>
                </div>
              </div>
            </div>
          </ul>

          <ul class="nav navbar-nav navbar-right"> 
            <div class="row">
              <div class="col-md-2">    
               
              
              </div>
            </div>
          </ul>

        </div>

      </div>
     </nav>
<% end %>