

<div class="row">
  <div class="col-md-4 col-md-offset-4">

  <p id="notice"><%= notice %></p>

  <h3>New Album</h3>

  <%= render 'form' %>

  <h3>My Albums</h3>

  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @albums.each do |album| %>
        <tr>
          <td><%= album.title %></td>
          <td><%= album.description %></td>
          <td><%= link_to 'Show', album %></td>
          <td><%= link_to 'Edit', edit_album_path(album) %></td>
          <td><%= link_to 'Destroy', album, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
 
  </div>
</div>

