	
<%#= link_to 'Back', albums_path %>
	<div class="row">
	  <div class="col-md-4 col-md-offset-4">

		<p id="notice"><%= notice %></p>

		<p>
		  <strong>Title:</strong>
		  <%= @album.title %>
		</p>

		<p>
		  <strong>Description:</strong>
		  <%= @album.description %>
		</p>

		<%= render 'photoupload' %>

		<%#= link_to 'Edit', edit_album_path(@album) %> 

		</div>
	</div>

<script id="template-upload" type="text/x-tmpl">
    <div class="upload">
      {%=o.name%}
      <div class="progress"><div class="bar" style="width: 0%"></div></div>
    </div>
</script>

<%#showphotos was here id="showphotos" %>

  <div id="blueimp-gallery" class="blueimp-gallery">
	<div class="slides"></div>
	<h3 class="title"></h3>
	<a class="prev">‹</a>
	<a class="next">›</a>
	<a class="close">×</a>
	<a class="play-pause"></a>
	<ol class="indicator"></ol>
        <div class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" aria-hidden="true">&times;</button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body next"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left prev">
                            <i class="glyphicon glyphicon-chevron-left"></i>
                            Previous
                        </button>
                        <button type="button" class="btn btn-primary next">
                            Next
                            <i class="glyphicon glyphicon-chevron-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
</div>

<%= select_tag 'photo_list', options_for_select(@photos.collect{ |u| [ u.id, {'data-img-src' => u.picture.url(:thumb)}] }), :multiple => true, id: 'selectImage', class: 'show-html image-picker' %>

    <div id="masonry-container" class="grid infinite-scroll clearfix" > 
        <ul id="to-be-appended" class="thumbnails image_picker_selector" >
            <%= render @photos %>
        </ul>
    </div> 

    <%#transitions-enabled  %>



<%#= select_tag 'photo_list', options_for_select(@photos.collect{ |u| [ u.id, {'data-img-src' => u.picture.url(:thumb)}] }), :multiple => true, id: 'selectImage', class: 'show-html image-picker' %> <%#image-picker class="thumbnails image-picker-selector" %>
   