

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">

  	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-left"> 
        <li><%= link_to "Home", root_path %></li>
        
        <a class="navbar-text" id="album-title" data-toggle="popover" data-trigger="focus" data-content= <%= "#{@album.description}" if (defined?(@album)) %> > <%= @album.title if (defined?(@album)) %> </a>
        
        <% if (params[:action] == 'show' && params[:controller]=='albums' )%>
          <li><button class="btn btn-default navbar-btn" id="browse-button"><span class="glyphicon glyphicon-cloud-upload browse-span"></span><span class="browse-span"> Browse or Drag</span></button></li>
          <li><%= render 'photoupload' %></li>
        <% end %>


         <li><%#= link_to "Albums", albums_path %></li>
      </ul>

      <ul class="nav navbar-nav navbar-right"> 


         	<% if user_signed_in? %>
				  <li>
				  	<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
				  </li>
			<% else %>
				  <li>
				  	<%= link_to('Login', new_user_session_path)  %>  
				  </li>
			<% end %>

      </ul>

    </div>

      <div class="row row-offcanvas row-offcanvas-left">

  </div>
</nav>
